.toolbar{
	-fx-min-height: 60;
	-fx-max-height: 60;
	-fx-background-radius: 0 0 10 0;
	-fx-border-color: #FDFDFD #858585 #858585 #FDFDFD;
	-fx-border-weight: 0 1 1 0;
	-fx-border-radius: 0 0 10 0;	
}

.toolbar Button{
	-fx-padding: 10,0,10,10;
	-fx-border-weight: 2;
	-fx-min-width:  50;
	-fx-min-height: 50;
	-fx-max-width:  50;
	-fx-max-height: 50;
	-fx-background-color: red;
	-fx-background-radius: 100;
	-fx-border-radius: 100;
}

.toolbar Button:hover{	
	/*-fx-border-color: #858585 #858585 #858585 #858585;
	-fx-border-weight: 2;
	-fx-border-radius: 100;
	-fx-background-color: #FDFDFD;*/
}

.top-titlebar {
	-fx-min-height: 38;
	-fx-max-height: 38;
	-fx-background-color: #FDFDFD;
}

.logo-mainscreen{
	-fx-padding: 0 10 0 0;	
	-fx-border: 0 0 1 0;
	-fx-background-color: #FDFDFD;
	
}

.top-pane {
	-fx-background-color: #FDFDFD;
	-fx-border-color: #858585;
	-fx-border-weight: 2;
}

.statusbar{
	-fx-min-height: 25;
	-fx-max-height: 25;
	-fx-border-weight: 2;
	-fx-border-color: #858585 #FDFDFD #FDFDFD #FDFDFD;
}

.titleText{
	-fx-font-size: 22px;
	-fx-font-family: Arial;
}

.login-top-pane{
	-fx-background-color: #FFF;
}

.login-center-pane{
	
}

.login-bottom-pane{
	-fx-border-width: 1 0 0 0;
	-fx-border-color: gray;
}

.login-label-title{
	
}

.login-label-field{
	
}

.login-input{
	
}

.login-input-username{
	
	
}

.login-input-password{
	
}

.login-icon-input{
	-fx-text-fill: #B0B0B0;
	-fx-padding: 0 10 0 0;
}

.login-button{
	
}

.login-button-access{
	-fx-text-fill: #FFF;
	-fx-background-color: 
		linear-gradient(rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
}

.login-button-cancel{
	-fx-text-fill: #4E4E4E;
	
}

.login-message-error{
	-fx-text-fill: red;
}

.login-message-warning{
	-fx-text-fill: yellow;
}

/*TOOLBAR*/
.toolbar-icon {
	-fx-text-fill: #FFF;
	
}

.toolbar-btn-back {
	-fx-background-color: radial-gradient(radius 100%, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	-fx-border-color: green;
}

.toolbar-btn-exit {
	-fx-background-color: radial-gradient(radius 100%, rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%);
	-fx-border-color: #EF9815;
}

.toolbar-btn-cancel {
	-fx-background-color: radial-gradient(radius 100%, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%);
	-fx-border-color: #C60017;
}

.toolbar-btn-save {
	-fx-background-color: radial-gradient(radius 100%, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%);
	-fx-border-color: #000;
	
}

.toolbar-btn-search {
	-fx-background-color: radial-gradient(radius 100%, rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%);
	-fx-border-color: #030044;
}

.toolbar-btn-print {
	-fx-background-color: radial-gradient(radius 100%, rgba(181,189,200,1) 0%, rgba(40,52,59,1) 100%);
	-fx-border-color: #28343b;	
}

.toolbar-btn-info {
	-fx-background-color: radial-gradient(radius 100%, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%);
	-fx-border-color: #030044;
}

.toolbar-btn-logout {
	-fx-background-color: radial-gradient(radius 100%, rgba(240,183,161,1) 0%, rgba(191,110,78,1) 100%);
	-fx-border-color: #28343b;	
}

.text-field-request {
	-fx-effect: dropshadow(gaussian,red,10,0.0,0,0);
	-fx-effect: innershadow(gaussian,red,5,0.0,0,0);
	-fx-border-color: red;
	-fx-border-radius: 5;
}























